26-1_klara_taabaldyeva_hw_1.py
26-1_klara_taabaldyeva_hw_2.py
26_1_klara_taabaldyeva_hw_3.py
26-1_klara_taabaldyeva_hw_4.py
26-1_klara_taabaldyeva_hw_6.py
26-1_klara_taabaldycdeva_hw_7.py
26-1_klara_taabaldyeva_hw_8.py